# ignore everything by default
*

# allow git metadata
!.gitignore

# allow root config / artifacts
!package.json
!tsconfig.json
!openapi.json
!product-catalog.json
!rates.json

# GET /health
!src/
src/*
!src/v1/
src/v1/*
!src/v1/server.ts
!src/v1/routes/
src/v1/routes/*
!src/v1/routes/health.ts
!src/api/
!src/api/**