# deps / runtime
node_modules/
.vercel/
dist/
build/
.cache/
.tmp/
coverage/

# env
.env
.env.*

# os / logs
.DS_Store
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# editor / ai
.cursor/

# docs
docs/

# scripts
scripts/

# ignore ALL src by default
src/*

# allow ONLY v1 api
# !src/v1/
# !src/v1/**

# allow root config + artifacts
!package.json
!tsconfig.json
!openapi.json
!product-catalog.json

README.md
README.MD
